<div style="display: flex; align-items: center; flex-direction: column">
    <div style="">
        <div>
            <label for='username'>Username</label>
            <input id='username' type='text' ng-model='form.username'>
        </div>

        <div style="padding-top: 20px;">
            <label for='password'>Password</label>
            <input id='password' type="password" ng-model='form.password'>
        </div>

        <button type="button" ng-click="login()" style="margin-top: 20px;">Login</button>
    </div>
</div>